[common]
# Unset STRICT_DEVMEM according to Broadcom's requirement and for CENTEC arm64 arch
CONFIG_STRICT_DEVMEM
# Unset classid and priority network cgroups due to conflict between cgroups v1 and v2
CONFIG_CGROUP_NET_CLASSID
CONFIG_NET_CLS_CGROUP
CONFIG_NETFILTER_XT_MATCH_CGROUP
CONFIG_CGROUP_NET_PRIO
# Unset to enable UBIFS on flash
CONFIG_MTD_SPI_NOR_USE_4K_SECTORS
###-> mellanox_common-start
###-> mellanox_common-end
CONFIG_DRM
CONFIG_VIDEO_DEV
CONFIG_MEDIA_SUPPORT
CONFIG_MEDIA_CONTROLLER
CONFIG_DVB_CORE
CONFIG_MEDIA_TUNER
CONFIG_MEDIA_ATTACH

ONFIG_BLK_DEV_SR
CONFIG_ATA_GENERIC
CONFIG_ATA_PIIX

# Disable audio and sound
CONFIG_SOUND
CONFIG_SND
CONFIG_SND_HDA_INTEL
CONFIG_SND_HDA_CODEC_REALTEK
CONFIG_TIPC_MEDIA_UDP
CONFIG_MEDIA_CEC_RC
CONFIG_MEDIA_CEC_SUPPORT
CONFIG_STAGING_MEDIA

CONFIG_RFKILL
CONFIG_RFKILL_LEDS
CONFIG_RFKILL_INPUT

CONFIG_ATM_DRIVERS
CONFIG_CAN

# Disable bluetooth
CONFIG_BT
CONFIG_BT_RFCOMM
CONFIG_BT_BNEP

# Disable wifi and wireless stack
CONFIG_CFG80211
CONFIG_MAC80211
CONFIG_WLAN

# Disable GPU and framebuffer
CONFIG_FB
CONFIG_VGA_CONSOLE

CONFIG_INFINIBAND


CONFIG_KEXEC
CONFIG_KEXEC_FILE
CONFIG_ARCH_HAS_KEXEC_PURGATORY
CONFIG_KEXEC_SIG
CONFIG_KEXEC_BZIMAGE_VERIFY_SIG
CONFIG_CRASH_DUMP


# CONFIG_SECURITY
# CONFIG_AUDIT
# CONFIG_AUDITSYSCALL

CONFIG_INPUT_KEYBOARD
CONFIG_INPUT_MOUSE
CONFIG_SERIO_I8042
CONFIG_INPUT_JOYSTICK
CONFIG_INPUT_TOUCHSCREEN


CONFIG_BLK_DEV_NVME
CONFIG_NVME_MULTIPATH
CONFIG_NVME_HWMON
CONFIG_NVME_FABRICS
CONFIG_NVME_FC
CONFIG_NVME_TCP
CONFIG_NVME_TARGET
CONFIG_NVME_TARGET_FC
CONFIG_NVME_TARGET_TCP


CONFIG_REISERFS_FS
CONFIG_JFS_FS
CONFIG_BTRFS_FS
CONFIG_F2FS_FS
CONFIG_NFS_FS
CONFIG_CIFS
CONFIG_ISO9660_FS
CONFIG_UDF_FS
CONFIG_ECRYPT_FS

CONFIG_DEBUG_INFO
CONFIG_DEBUG_INFO_BTF
CONFIG_DEBUG_INFO_DWARF_TOOLCHAIN_DEFAULT
CONFIG_DYNAMIC_DEBUG

#
# MII PHY device drivers
#
CONFIG_AMD_PHY
# CONFIG_ADIN_PHY
# CONFIG_ADIN1100_PHY
CONFIG_AQUANTIA_PHY
CONFIG_AX88796B_PHY
CONFIG_BROADCOM_PHY
# CONFIG_BCM54140_PHY
# CONFIG_BCM7XXX_PHY
# CONFIG_BCM84881_PHY
CONFIG_BCM87XX_PHY
CONFIG_BCM_NET_PHYLIB
CONFIG_BCM_NET_PHYPTP
CONFIG_CICADA_PHY
CONFIG_CORTINA_PHY
CONFIG_DAVICOM_PHY
CONFIG_ICPLUS_PHY
CONFIG_LXT_PHY
# CONFIG_INTEL_XWAY_PHY
CONFIG_LSI_ET1011C_PHY
CONFIG_MARVELL_PHY
CONFIG_MARVELL_10G_PHY
# CONFIG_MARVELL_88X2222_PHY
# CONFIG_MAXLINEAR_GPHY
# CONFIG_MEDIATEK_GE_PHY
CONFIG_MICREL_PHY
CONFIG_MICROCHIP_PHY
CONFIG_MICROCHIP_T1_PHY
CONFIG_MICROSEMI_PHY
# CONFIG_MOTORCOMM_PHY
CONFIG_NATIONAL_PHY
# CONFIG_NXP_C45_TJA11XX_PHY
# CONFIG_NXP_TJA11XX_PHY
CONFIG_AT803X_PHY
CONFIG_QSEMI_PHY
CONFIG_REALTEK_PHY
CONFIG_RENESAS_PHY
CONFIG_ROCKCHIP_PHY
CONFIG_SMSC_PHY
CONFIG_STE10XP
CONFIG_TERANETICS_PHY
CONFIG_DP83822_PHY
CONFIG_DP83TC811_PHY
CONFIG_DP83848_PHY
CONFIG_DP83867_PHY
# CONFIG_DP83869_PHY
# CONFIG_DP83TD510_PHY
CONFIG_VITESSE_PHY

#
# PCS device drivers
#
CONFIG_PCMCIA
CONFIG_PCMCIA_LOAD_CIS

CONFIG_USB_NET_DRIVERS

#
# NET_VENDOR
#
CONFIG_NET_VENDOR_3COM
CONFIG_NET_VENDOR_ADAPTEC
CONFIG_NET_VENDOR_AGERE
CONFIG_NET_VENDOR_ALACRITECH
CONFIG_NET_VENDOR_ALTEON
CONFIG_NET_VENDOR_AMAZON
CONFIG_NET_VENDOR_AMD
CONFIG_NET_VENDOR_AQUANTIA
CONFIG_NET_VENDOR_ARC
CONFIG_NET_VENDOR_ASIX
CONFIG_NET_VENDOR_ATHEROS
CONFIG_NET_VENDOR_BROADCOM
CONFIG_BNX2
CONFIG_CNIC
CONFIG_TIGON3
CONFIG_TIGON3_HWMON
CONFIG_BNX2X
CONFIG_BNX2X_SRIOV
CONFIG_B44
CONFIG_BNXT
CONFIG_NET_VENDOR_CADENCE
CONFIG_NET_VENDOR_CAVIUM
CONFIG_NET_VENDOR_CHELSIO
CONFIG_CHELSIO_T1
CONFIG_CHELSIO_T1_1G
CONFIG_CHELSIO_T3
CONFIG_CHELSIO_T4
CONFIG_CHELSIO_T4_DCB
CONFIG_CHELSIO_T4_FCOE
CONFIG_CHELSIO_T4VF
CONFIG_CHELSIO_LIB
CONFIG_SCSI_CXGB3_ISCSI
CONFIG_SCSI_CXGB4_ISCSI
CONFIG_ISCSI_TARGET_CXGB4
CONFIG_SCSI_BNX2_ISCSI
CONFIG_SCSI_BNX2X_FCOE
CONFIG_CHELSIO_INLINE_CRYPTO
CONFIG_NET_VENDOR_CISCO
CONFIG_NET_VENDOR_CORTINA
CONFIG_NET_VENDOR_DAVICOM
CONFIG_NET_VENDOR_DEC
CONFIG_NET_VENDOR_DLINK
CONFIG_NET_VENDOR_EMULEX
CONFIG_NET_VENDOR_ENGLEDER
CONFIG_NET_VENDOR_EZCHIP
CONFIG_NET_VENDOR_FUNGIBLE
CONFIG_NET_VENDOR_GOOGLE
CONFIG_NET_VENDOR_HUAWEI
CONFIG_NET_VENDOR_I825XX
# CONFIG_NET_VENDOR_INTEL
CONFIG_NET_VENDOR_ADI
CONFIG_NET_VENDOR_LITEX
CONFIG_NET_VENDOR_MARVELL
CONFIG_NET_VENDOR_MELLANOX
CONFIG_NET_VENDOR_MICREL
CONFIG_NET_VENDOR_MICROCHIP
CONFIG_NET_VENDOR_MICROSEMI
CONFIG_NET_VENDOR_MICROSOFT
CONFIG_NET_VENDOR_MYRI
CONFIG_NET_VENDOR_NI
CONFIG_NET_VENDOR_NATSEMI
CONFIG_NET_VENDOR_NETERION
CONFIG_NET_VENDOR_NETRONOME
CONFIG_NET_VENDOR_8390
CONFIG_NET_VENDOR_NVIDIA
CONFIG_NET_VENDOR_OKI
CONFIG_NET_VENDOR_PACKET_ENGINES
CONFIG_NET_VENDOR_PENSANDO
CONFIG_NET_VENDOR_QLOGIC
CONFIG_NET_VENDOR_BROCADE
CONFIG_NET_VENDOR_QUALCOMM
CONFIG_NET_VENDOR_RDC
CONFIG_NET_VENDOR_REALTEK
CONFIG_NET_VENDOR_RENESAS
CONFIG_NET_VENDOR_ROCKER
CONFIG_NET_VENDOR_SAMSUNG
CONFIG_NET_VENDOR_SEEQ
CONFIG_NET_VENDOR_SILAN
CONFIG_NET_VENDOR_SIS
CONFIG_NET_VENDOR_SOLARFLARE
CONFIG_NET_VENDOR_SMSC
CONFIG_NET_VENDOR_SOCIONEXT
CONFIG_NET_VENDOR_STMICRO
CONFIG_NET_VENDOR_SUN
CONFIG_NET_VENDOR_SYNOPSYS
CONFIG_NET_VENDOR_TEHUTI
CONFIG_NET_VENDOR_TI
CONFIG_NET_VENDOR_VERTEXCOM
CONFIG_NET_VENDOR_VIA
CONFIG_NET_VENDOR_WANGXUN
CONFIG_NET_VENDOR_WIZNET
CONFIG_NET_VENDOR_XILINX
CONFIG_JME
CONFIG_FEALNX

CONFIG_WIREGUARD

CONFIG_NETFILTER

#NET DRV END

#
# mISDN hardware drivers
#
CONFIG_MISDN_HFCPCI
CONFIG_MISDN_HFCMULTI
CONFIG_MISDN_HFCUSB
CONFIG_MISDN_AVMFRITZ
CONFIG_MISDN_SPEEDFAX
CONFIG_MISDN_INFINEON
CONFIG_MISDN_W6692
# CONFIG_MISDN_NETJET is not set
CONFIG_MISDN_IPAC
CONFIG_MISDN_ISAR

CONFIG_FDDI
CONFIG_DEFXX
CONFIG_SKFP
CONFIG_HIPPI
CONFIG_ROADRUNNER
# CONFIG_ROADRUNNER_LARGE_RINGS is not set
CONFIG_NET_SB1000

CONFIG_LED_TRIGGER_PHY

CONFIG_PCS_XPCS
# end of PCS device drivers

CONFIG_PLIP
CONFIG_PPP
CONFIG_PPP_BSDCOMP
CONFIG_PPP_DEFLATE
CONFIG_PPP_FILTER
CONFIG_PPP_MPPE
CONFIG_PPP_MULTILINK
CONFIG_PPPOATM
CONFIG_PPPOE
CONFIG_PPTP
CONFIG_PPPOL2TP
CONFIG_PPP_ASYNC
CONFIG_PPP_SYNC_TTY
CONFIG_SLIP
CONFIG_SLHC
CONFIG_SLIP_COMPRESSED
CONFIG_SLIP_SMART
CONFIG_SLIP_MODE_SLIP6

CONFIG_WAN
CONFIG_HDLC
CONFIG_HDLC_RAW
CONFIG_HDLC_RAW_ETH
CONFIG_HDLC_CISCO
CONFIG_HDLC_FR
CONFIG_HDLC_PPP
# CONFIG_HDLC_X25
CONFIG_PCI200SYN
CONFIG_WANXL
# CONFIG_PC300TOO
CONFIG_FARSYNC
CONFIG_IEEE802154_DRIVERS
CONFIG_IEEE802154_FAKELB
CONFIG_IEEE802154_AT86RF230
CONFIG_IEEE802154_MRF24J40
CONFIG_IEEE802154_CC2520
CONFIG_IEEE802154_ATUSB
CONFIG_IEEE802154_ADF7242
# CONFIG_IEEE802154_CA8210
# CONFIG_IEEE802154_MCR20A
CONFIG_IEEE802154_HWSIM

#
# Wireless WAN
#
CONFIG_WWAN
CONFIG_WWAN_DEBUGFS
# CONFIG_WWAN_HWSIM
CONFIG_MHI_WWAN_CTRL
CONFIG_MHI_WWAN_MBIM
CONFIG_IOSM
# CONFIG_MTK_T7XX
# end of Wireless WAN


[amd64]
CONFIG_AMD_MEM_ENCRYPT
# Unset X86_PAT according to Broadcom's requirement
CONFIG_X86_PAT
CONFIG_MLXSW_PCI
###-> mellanox_amd64-start
###-> mellanox_amd64-end

[arm64]
CONFIG_SQUASHFS_DECOMP_MULTI_PERCPU

[marvell-prestera-arm64]
CONFIG_UBIFS_FS_ZSTD
CONFIG_CRYPTO_DEV_SAFEXCEL

[pensando]
CONFIG_ARM64_VA_BITS_48

[armhf]

[marvell-prestera-armhf]
CONFIG_ARCH_VIRT
CONFIG_ARCH_BCM
CONFIG_ARCH_EXYNOS
CONFIG_ARCH_HIGHBANK
CONFIG_ARCH_MXC
CONFIG_ARCH_MESON
CONFIG_ARCH_OMAP3
CONFIG_ARCH_OMAP4
CONFIG_SOC_OMAP5
CONFIG_SOC_AM33XX
CONFIG_SOC_DRA7XX
CONFIG_ARCH_ROCKCHIP
CONFIG_ARCH_SOCFPGA
CONFIG_ARCH_SUNXI
CONFIG_ARCH_TEGRA
CONFIG_ARCH_VEXPRESS
CONFIG_ARCH_WM8850
CONFIG_FW_CFG_SYSFS
CONFIG_VORTEX
CONFIG_NTP_PPS
CONFIG_SENSORS_MAX6620
CONFIG_SND_LX6464ES
CONFIG_EFI
CONFIG_LOCK_DOWN_KERNEL
CONFIG_SECONDARY_TRUSTED_KEYRING
CONFIG_SYSTEM_BLACKLIST_KEYRING

[mellanox-arm64]

